<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- alumnipending.html -->
<!-- This page serves as a list view of all pending alumni. Similar to a directory, the page will display a table showing each pending alumni and their Grad Year, Date of Birth, Email, and their Status. The Goal of this page is to centralize the information so the Alumni Office can conveniently approve or deny potential alumni users -->

{% extends "testapp/base.html" %}
{% block content %}
	{% if user.is_superuser %}
		<br><h1 id="black-text">Verify Alumni</h1><hr>
		<table id="attendance-list" id="black-text">
				<tr>
					<th>Name</th>
					<th>Grad Year</th>
					<th>DOB</th>
					<th>Email</th>
					<th>Alumni Status</th>
				</tr>
				{% for alum in alumni %}
					{% if alum.Verified != 'Accepted' %}
						<tr>
							<td>
					 			<p class="article-content"><a href="/admin/testapp/alumni/{{ alum.Name }}/change/">{{ alum.Name}}</a></p>
							</td>
							<td>
					 			<p class="article-content">{{ alum.Grad_Year}}</p>
							</td>
							<td>
					 			<p class="article-content">{{ alum.DOB}}</p>
							</td>
							<td>
					 			<p class="article-content">{{ alum.Email}}</p>
							</td>
							<td>
					 			<p class="article-content">{{ alum.Verified}}</p>
							</td>
							<form style='display: inline;' action='/admin/alumnipending/' method="POST">
								{% csrf_token %}
								<td><button type="button submit" class="btn btn-secondary btn-sm mt-1 mb-1">Accept</button></td>
								<input type="hidden" value="{{ alum.pk }}" name="alumname">
								<input type="hidden" value="Accepted" name="status">
							</form>
							<form style='display: inline;' action="/admin/alumnipending/" method="POST">
								{% csrf_token %}
								<td><button type="button submit" class="btn btn-secondary btn-sm mt-1 mb-1">Deny</button></td>
								<input type="hidden" value="{{ alum.pk }}" name="alumname">
								<input type="hidden" value="Denied" name="status">
							</form>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
	{% endif %}
{% endblock content %}
