<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- appindex.html -->
<!-- This page is a Django Admin page that we have overwritten to add custom aspects. This specific page changes the banner of the Django Framework Admin pages -->

{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div style="background-color: #862633; opacity: 0.75;" class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
{% for app in app_list %}
{{ app.name }}
{% endfor %}
</div>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
