<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- checkin.html -->
<!-- This page serves as our check in page. This page will be available via QR code or plain link by the host at each individual event. The attendee will be prompted to fill fields regarding some personal information: Name, Grad Year, DOB, Email, Job Title, and Phone Number. This allows the Alumni Office to create a directory of their alumni. -->

{% extends "testapp/base.html" %}
{% load crispy_forms_tags %}
	{% block content %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
				<legend class="border-bottom mb-4">Check In</legend>
				{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button id="button" class="nav-item nav-link" type="submit">Check In</button>
				</div>
			</form>
		</div>
	{% endblock content %}
