	{% extends "testapp/base.html" %}
	{% block content %}
		<h1>View Event</h1><br>

		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ object.firstname }} {{ object.lastname }}</a>
		      <small class="text-muted">{{ object.date }}</small>
		      	{% if user.is_superuser %}
		      		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.pk %}">Update</a>
		      		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.pk %}">Delete</a>
		      {%endif%}
		    </div>
		    <h2 class="article-title">{{ object.title }}</h2>
		    <p class="article-content">{{ object.location }}</p>
		  </div>
		</article>
	{% endblock content %}
