<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- events_form.html -->
<!-- This page serves as our form for creating a new event. It will ask for the same personal information asked by rsvp.html and checkin.html and also event information: location, date, time, title, description, and full event address. Once submitted the event will be sent to the pending events page for approval. -->

{% extends "testapp/base.html" %}
{% load crispy_forms_tags %}
	{% block content %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset id="black-text" class="form-group">
					<legend id="black-text" class="border-bottom mb-4">Event Information</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button id="button" class="nav-item nav-link" type="submit">Post</button>
				</div>
			</form>
		</div>
	{% endblock content %}
