	{% extends "testapp/base.html" %}
	{% block content %}
		<br><h1 id="black-text">Upcoming Events</h1><hr>
		{% for event in events %}

		<article class="media content-section">
		  <div id="event-container" class="media-body">
		    <div class="article-metadata">
		      <small class="text-muted">{{ event.Edate }}</small>
		    </div>
		    <h2><a id="heading-color" class="article-title" href="{% url 'event-view' event.pk %}">{{ event.Title }}</a></h2>
		    <p id="black-text" class="article-content">{{ event.City }}, {{event.State}} {{event.Zipcode}}</p>
	  	  </div>
		  <div id="event-container" class="media-body">
		  	<div class="article-metadata">
		      <small class="text-muted">{{ event.Start_Time }} - {{ event.Start_Time }}</small>
		    </div>
		    <p id="black-text" class="article-content">{{ event.Description }}</p>
		  </div>

		</article>
		{% endfor %}
		<a class="button" class="nav-item nav-link" href="{% url 'event-create' %}">New Post</a>
	{% endblock content %}
