<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- rsvp.html -->
<!-- This page serves as our rsvp page. This page will be available through the event detail page via button. A potential attendee will be prompted to fill fields regarding some personal information: Name, Grad Year, DOB, Email, Job Title, and Phone Number. This allows the Alumni Office to create a directory of their alumni. An RSVP does not guarantee attendance but serves to help the host gauge numbers for their event. -->

{% extends "testapp/base.html" %}
{% load crispy_forms_tags %}
	{% block content %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
				<legend class="border-bottom mb-4">RSVP</legend>
				{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button id="button" class="nav-item nav-link" type="submit">RSVP</button>
				</div>
			</form>
		</div>
	{% endblock content %}
