<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- login.html -->
<!-- This page serves as the login page for the superuser. It will ask for the username and password. Upon valid submission, the user can gain access to admin controls. -->

{% extends "testapp/base.html" %}
{% load crispy_forms_tags %}
	{% block content %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend id="black-text" class="border-bottom mb-4">Log In</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button id="button" class="nav-item nav-link" type="submit">Log In</button>
				</div>
			</form>
		</div>
	{% endblock content %}
