<!-- Alumni Engagement Recording System | Developers: Axel Perez, Brendan Watamura, & Matt Wong -->
<!-- logout.html -->
<!-- This page notifies the action of logging out of the superuser profile. It gives the link to log back into an account or you can proceed back to the homepage as a normal user. -->

{% extends "testapp/base.html" %}
	{% block content %}
		<h2 id="black-text">You have been logged out</h2>
		<div class="border-top pt-3">
			<small class="test-muted">
				<a href="{% url 'login' %}">Log In Again</a>
			</small>
		</div>
	{% endblock content %}
